body {
  background-color: #ffc0cb;
  font-family: 'Work Sans',sans-serif;
  color: white;
  margin: 20px;
  padding: 80px;
}
.profilepic {
  width: 250px;
  height: 250px;
}
.color {
  color: purple;
}
