body {
    font-family: "Open Sans", sans-serif;
    background-color: #B2C8DF;
  color: #0A2647;
}

* {
    box-sizing: border-box;
}

body, h1, h2 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
Footer
© 2023 GitHub, Inc.
Footer navigation
